input.ng-invalid {
    border-color: red !important;
    border-width: 3px;
}

input.ng-valid {
    border-color: green !important;
    border-width: 3px;
}

input.ng-untouched{
    border: none !important;
}

.error {
    color: red !important;
}

.comp-name {
    font-weight: 800;
    font-size: 28px;
    color: white;
}

.header-ele {
    font-weight: 500;
    font-size: 18px;
}

.about-image {
    position: absolute;
    height: 100%;
}