<div class="well">
    Welcome {{username}} 
    <!-- Your id is {{id}} -->
</div>

<div class="row clearfix" >
        <div class="col-md-6">
            <h2>Staff List</h2>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>UserID</th>
                        <th>Type</th>
                        <th>Enable</th>
                        <th>edit</th>
                        <th>Delete Record</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="user in users">
                        <td ng-click="showDetails(user,users)">{{user.name}}</td>
                        <td>{{user.email}}</td>
                        <td>{{user.userid}}</td>
                        <td>{{user.type}}</td>
                        <td>{{user.enable}}</td>
                        <td><input type="checkbox" name="x" value="{{user.enable}}" ng-model="user.enable"  ng-change="users.$save(user)"></td>
                        <!-- users.$save(user) -->
                        <td><button class="btn btn-danger" ng-click=users.$remove(user)>Delete</button></td>
                        <td>
                            <button class="btn btn-secondary" ng-click="showDetails(user,users)">View Details</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <button class="right btn btn-success" ng-click="saveData(user,users)">Save Data</button>
        </div>
        
</div>
<div class="clearfix">
    <div class="left half"   >
    <h3>Employee Details</h3>
    
        
        Name : {{empName}}<br> 
        Email : {{empEmail}}<br>
        UserID: {{empUserid}}<br>
        Type:  {{empType}}<br>
    </div>        
    <div class="right ">
        <!-- <div id="map"></div> -->
        <!-- <div id="dvMap" style="width: 300px; height: 400px">
        </div> -->
        <!-- <div id="map_canvas" >
            <ui-gmap-google-map center="map.center" zoom="map.zoom" draggable="true" options="options">
                <ui-gmap-marker coords="marker.coords" options="marker.options" events="marker.events" idkey="marker.id">
                </ui-gmap-marker>
            </ui-gmap-google-map>
            <div ng-cloak>
                <ul>
                    <li>coords update ctr: {{coordsUpdates}}</li>
                    <li>dynamic move ctr: {{dynamicMoveCtr}}</li>
                </ul>
            </div>
        </div> -->
        <!-- <leaflet markers="markersStaff" center="osloCenter" style="width:300px; height: 300px;"></leaflet> -->
        <a href="#openPopup" class="open-popup-link" data-effect="mfp-3d-unfold"> <button class="btn btn-secondary">Assign Task</button> </a>
    </div>
    <leaflet markers="markersStaff" center="osloCenter" style="width:660px; height: 300px;"></leaflet>

</div> 
<br> <br>
<div class="white-popup mfp-hide mfp-with-anim "  id="openPopup">
<fieldset >
    <legend><h3>Assign task</h3> </legend>
    
    <h5>
    Employee : {{empName}} <br> <br>
    Today's Date : {{date|date:'dd-MM-yyyy'}}          <br> <br>
    </h5>
    <form action="" class="well clearfix" >
        <div class="form-group">
            <label for="">Task</label>
            <input type="text"  class="form-control" placeholder="Enter task" ng-model="taskName">  <br> 
        </div>

        <div class="form-group">
            <label for="">Task to be completed on</label>
            <input type="date" placeholder="Please specify a date"
            onClick="$(this).removeClass('placeholderclass')"
            class="form-control dateclass placeholderclass"
            ng-model="taskDate"> <br>
        </div>

        <div class="form-group">
            <label for="">Task to be completed in</label>
            <input type="time"  placeholder="Please specify a time"
            onClick="$(this).removeClass('placeholderclass')"
            class="form-control dateclass placeholderclass">
        </div> 
        
        <div class="form-group">
            <label for="">Task Co-ordinates</label>
            <leaflet markers="markers" event-broadcast="events" center="osloCenter" style="width:660px; height: 300px;"></leaflet>
            <!-- {{taskLongitude}}
            {{taskLatitude}} <br> -->

            {{$scope.latitude}} <br>
            <!-- <input type="number" ng-model="position.lat">
            <input type="number" ng-model="position.lng"> -->
        </div>
        <button class="btn btn-success right" ng-click="setTask(user)">Submit</button>
    </form> 
</fieldset> 
</div>

<br><br>
