<div>
    <div class="well">
        <h1>
            Welcome {{username}}
        </h1>
        <h2>
            Task View
        </h2>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Reach Cannaught Palace" disabled>
        </div>    

        <h3>Task Details</h3>
        <label for="">Duration</label>
        <input type="datetime-local" placeholder="Destination" disabled class="form-control" title="Reach this location within time duration"> <br>
        <div class="form-group">
            <input type="number" placeholder="location" disabled class="form-control" title="Reach this location within 100 meters">
        </div>
    </div>
     <button class="btn btn-primary center">Complete Task</button> <br> 
     
    <div class="upload-block">
        <div>
            <button class="btn btn-success ">Upload Position</button>
            <button class="btn btn-success">Upload Photo</button>
        </div>        
    </div>
    <br><br>
</div>
