*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

input.ng-invalid {
    border-color: red;
}

input.ng-valid {
    border-color: green;
}

input.ng-untouched{
    border: none;
}

.error {
    color: red;
}

.right{
    float: right;
}
.left{
    float: left;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.dateclass {
    width: 100%;
  }
  
.dateclass.placeholderclass::before {
    width: 100%;
    content: attr(placeholder);
}
  
.dateclass.placeholderclass:hover::before {
    width: 0%;
    content: "";
}

.center{
    display: block;
    margin: 0 auto;
}

.upload-block {
    width: 240px;
    /* background-color: red; */
    /* display: block; */
    margin: 0 auto;
}

.upload-block div{
    /* background-color: yellow; */
    display: inline;
    
    color: aqua;
}

.hidden {
    display: none;
}

.show{
    display: block;
}

#map {
    height: 60%;
  } 

.half{
    width: 50%;
}
#map {
    height:500px !important; 
    width:500px !important; 
/*    box-shadow: 3px 3px 10px gray;*/  
    }
#repeat{ 
     display: inline;
     }
#country_container { 
     margin: 8px 2px 2px 0px; 
     text-align: center; 
     width: 90px; 
     padding: 5px; 
     color: white; 
     background-color: gray; 
     font-size: 16px; 
     cursor: pointer;
     }
#country_container:hover { 
     box-shadow: 0px 0px 10px blue;
     background-color: gray; 
     border: 1px solid gray; 
     cursor: pointer; 
     }
#names { 
     cursor: pointer; 
       }

#map_canvas {
            position: relative;
            height: 300px;
            width: 300px;
            margin: 0px;
        }

.angular-google-map-container {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
      }

leaflet{
    height: 300px;
    width: 300px;
}      