*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

input.ng-invalid {
    border-color: red;
}

input.ng-valid {
    border-color: green;
}

input.ng-untouched{
    border: none;
}

.error {
    color: red;
}

.right{
    float: right;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.dateclass {
    width: 100%;
  }
  
.dateclass.placeholderclass::before {
    width: 100%;
    content: attr(placeholder);
}
  
.dateclass.placeholderclass:hover::before {
    width: 0%;
    content: "";
}

.center{
    display: block;
    margin: 0 auto;
}

.upload-block {
    width: 240px;
    /* background-color: red; */
    /* display: block; */
    margin: 0 auto;
}

.upload-block div{
    /* background-color: yellow; */
    display: inline;
    
    color: aqua;
}
#map {
    height: 60%;
  } 